.about {
  max-width: 800px;
  margin-top: 60px;
}
.signup {
  max-width: 400px;
  margin-top: 60px;
}
.signup h2{
  font-size: 2.4em;
}
.signup .field {
  margin-bottom: 16px
}
.label {
  font-size: 1em;
}
.login {
  max-width: 400px;
  margin-top: 60px;
}
.login h2{
  font-size: 2.4em;
}
.login .field {
  margin-bottom: 16px
}
.admin {
  max-width: 1000px;
}
.initiatePairs {
  margin-top: 30px;
}
.profile {
  margin-top: 40px;
  max-width: 600px;
}
.profilePicture {
  height: 150px;
}
.infoSection {
  margin-top: 30px;
  max-width: 500px;
}
.profile {
  margin-top: 40px;
  max-width: 600px;
}
.profilePicture {
  height: 150px;
}
.custom-file-upload{
  border: 1px solid #ccc;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
}
.deleteButton {
  margin-top: 10px;
}
.infoSection {
  margin-top: 30px;
  max-width: 500px;
}
input[type="file"] {
  display: none;
}
.settings {
  margin-left: 40px;
  margin-top: 20px;
}
.margin-right {
  margin-right: 100px;
}
.margin-left {
  margin-left: 100px;
}
.verify {
  max-width: 800px;
  margin-top: 60px;
}
